<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Matriculas
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
           <th>Estudante</th>
           <th>Curso</th>
           <th>Data da Matricula</th>
           <th>Ações</th>
         </tr>
       </thead>
       <tbody>
         <%@classrooms.each do |classroom|%>
         <tr>
          <td><%= classroom.student.name %></td>
          <td><%= classroom.course.name%></td>
          <td><%= classroom.entry_at.strftime("%d/%m/%Y %H:%M")%></td>
          <td>
           <%= link_to "Exibir", classroom, :class=>"btn btn-primary" %>
           <%= link_to "Editar", edit_classroom_path(classroom), :class=>"btn btn-primary" %>
           <%= link_to "Excluir", classroom, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class=>"btn btn-primary" %>
         </td>
       </tr>
       <%end%>
     </tbody>
   </table>
 </div>
  <div class="text-center">
    <%= will_paginate @classrooms, :previous_label => "Anterior", :next_label => "Próximo"  %>
  </div>
   <%= link_to 'Novo Estudante', new_classroom_path, :class=>"btn btn-primary" %>
</div>
</div>



