<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Curso
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<p>
			<strong>Nome:</strong>
			<%= @course.name %>
		</p>

		<p>
			<strong>Descrição:</strong>
			<%= @course.description %>
		</p>

		<p>
			<strong>Status:</strong>
			<%= status_course @course.status %>
		</p>

		<%= link_to 'Editar', edit_course_path(@course), :class=>"btn btn-primary" %>
		<%= link_to 'Voltar', courses_path, :class=>"btn btn-primary" %>
	</div>
</div>